:root {
  --raleway: "Raleway", sans-serif;
  --regular: 400;
  --bold: 700;
  --black: #373A3C;
  --white: white;
  --blue: #17A2B8;
  --light-blue: #56C0E0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.os-regular {
    font-family: var(--raleway);
    font-weight: var(--regular);
  }
  
.os-bold {
    font-family: var(--raleway);
    font-weight: var(--bold);
  }

  .bg-softBlack{
    background-color: var(--black);
  }
  
  .bg-blue {
    background-color: var(--blue);
  }

  .c-white {
    color: var(--white);
  }

  .c-blue {
    color: var(--blue);
  }

  .c-light-blue {
    color: var(--light-blue);
  }
  

  