.Raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.Raleway-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

  