:root {
  --raleway: "Raleway", sans-serif;
  --regular: 400;
  --bold: 700;
  --black: #373A3C;
  --white: white;
  --blue: #17A2B8;
  --light-blue: #56C0E0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.os-regular {
    font-family: var(--raleway);
    font-weight: var(--regular);
  }
  
.os-bold {
    font-family: var(--raleway);
    font-weight: var(--bold);
  }

  .bg-softBlack{
    background-color: var(--black);
  }
  
  .bg-softBlue {
    background-color: var(--blue);
  }
  .border-blue{
    border: solid 1px var(--blue);
}

.c-white {
    color: var(--white);
  }

  .c-blue {
    color: var(--blue);
  }

  .c-light-blue {
    color: var(--light-blue);
  }
  
/*Estilos cabecera custom*/
.section-foto{
  background-image: url(/assets/img/bg-hero.jpg);
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size: 70px;
}
  